Data: 
https://data.wprdc.org/dataset/real-estate-sales

In [90]:
import pandas as pd
import geopandas as gpd
import numpy as np
from scipy import stats

In [91]:
# Importing the data
property_data = pd.read_csv("PghPropertySaleData.csv", index_col="PARID", low_memory = False)

In [92]:
# Previewing the data
property_data.head(5)

,PROPERTYHOUSENUM,PROPERTYFRACTION,PROPERTYADDRESSDIR,PROPERTYADDRESSSTREET,PROPERTYADDRESSSUF,PROPERTYADDRESSUNITDESC,PROPERTYUNITNO,PROPERTYCITY,PROPERTYSTATE,PROPERTYZIP,...,MUNIDESC,RECORDDATE,SALEDATE,PRICE,DEEDBOOK,DEEDPAGE,SALECODE,SALEDESC,INSTRTYP,INSTRTYPDESC
PARID,,,,,,,,,,,,,,,,,,,,,
1075F00108000000,4720.0,,NaN,HIGHPOINT,DR,NaN,NaN,GIBSONIA,PA,15044.0,...,Hampton,2012-09-27,2012-09-27,120000.0,15020,356,3,LOVE AND AFFECTION SALE,DE,DEED
0011A00237000000,0.0,,NaN,LOMBARD,ST,NaN,NaN,PITTSBURGH,PA,15219.0,...,3rd Ward - PITTSBURGH,2015-01-06,2015-01-06,1783.0,TR15,00002,2,CITY TREASURER SALE,TS,TREASURER DEED
0011J00047000000,1903.0,,NaN,FORBES,AVE,NaN,NaN,PITTSBURGH,PA,15219.0,...,1st Ward - PITTSBURGH,2012-10-26,2012-10-26,4643.0,TR13,003,2,CITY TREASURER SALE,TS,TREASURER DEED
0113B00029000000,479.0,,NaN,ROOSEVELT,AVE,NaN,NaN,PITTSBURGH,PA,15202.0,...,Bellevue,2017-03-27,2017-03-06,0.0,16739,166,3,LOVE AND AFFECTION SALE,CO,CORRECTIVE DEED
0119S00024000000,5418.0,,NaN,CARNEGIE,ST,NaN,NaN,PITTSBURGH,PA,15201.0,...,10th Ward - PITTSBURGH,2015-02-04,2015-02-04,27541.0,TR15,00059,GV,GOVERNMENT SALE,TS,TREASURER DEED

In [93]:
# I noticed that there are some sold prices that are extremely low, such as $0, $1, and $10. 
# Therefore, I am only considering prices above $1,000 to mitigate the infuence of global outliers.
property_data = property_data[property_data.PRICE > 1000]
# In importing the CSV file, the zip codes were turned into floats. This will cast them back into the int data type
property_data['PROPERTYZIP'] = property_data['PROPERTYZIP'].astype(int)

In [94]:
# Finding the mean of the property sold prices for all properties sharing the same zip code
price_property_data = property_data[['PROPERTYZIP','PRICE']].groupby(['PROPERTYZIP']).mean()
price_property_data

                     PRICE
PROPERTYZIP
15003         86601.668605
15005        529842.319527
15006         73238.805970
15007        172196.555556
15012        119375.000000
...                    ...
15642         90610.318182
15668        233826.666667
16046        408128.726704
16059        144939.375000
16229         89506.250000

[117 rows x 1 columns]

In [106]:
# Rounding the mean property sales prices to the nearest dollar
price_property_data['PRICE'] = price_property_data['PRICE'].astype(int)
# Sorting the data by price
price_property_data.sort_values(by=['PRICE'],inplace=True)
price_property_data.head(10)

             PRICE
PROPERTYZIP
15028        24032
15089        24272
15104        34736
15110        36851
15045        47284
15035        47925
15112        52032
15210        59941
15034        60619
15014        63174

# Establishing a point system and price brackets
Zip codes with properties within a certain threshold will be assigned a fixed number of points.          

Team members' data sets also utilize a point system.         

The neighborood with the highest total number of points will be considered the best.

In [ ]:
# First, price thresholds need to be set. To do this, I will 
points_property_data = price_property_data